.hasher {
  margin: 90px auto;
  max-width: 600px;
}

.hasher_window {
  border: 1px solid black;
  padding: 10px 30px;
  border-radius: 15px;
}

.hasher_header {
  font-weight: 300;
}

.hasher_file-container {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}

.hasher_overlapped {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  opacity: 0.01;
  height: 1px;
  width: 1px;
  z-index: 0;
}

.hasher_overlap {
  display: block;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
  font-size: 24px;
  background-color: wheat;
  z-index: 1;
}

.hasher_algorithm {
  display: flex;
}

.hasher_algorithm-header {
  margin-right: 10px;
}

.hasher_algorithm-selection {
  position: relative;
}

.hasher_algorithm-items {
  display: block;
  position: absolute;
  top: -5px;
  background-color: #ffffff;
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 0;
  list-style-type: none;
}

.hasher_result-header {
  text-align: center;
  font-weight: 300;
}

.hasher_result {
  text-align: center;
}

.hidden {
  display: none;
}